<section class="text-center container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Strona główna</h1>
        </div>
    </div>
</section>

<a href="/gallery/add">Dodaj</a>
<a href="/gallery?mode=all">Wyświetl wszystkie</a>

<% if(typeof errorMessage != 'undefined') { %>
    <%= errorMessage %>
<% } %>

<% if(typeof successMessage != 'undefined') { %>
    <%= successMessage %>
<% } %>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <% if(typeof pictures != 'undefined') { %>
                <% pictures.forEach(picture => { %>
                <div class="col-sm-3">
                    <div class="card shadow-sm">
                        <a href="/gallery/<%= picture.id %>">
                            <img src="<%=picture.image%>" class="img-fluid" />
                        </a>

                        <div class="card-body">
                            <strong>Title: <%=picture.title%></strong>
                            <p class="card-text"><%= picture.description %></p>
                            <small class="text-muted"><%=picture.date%></small>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/gallery/edit/<%= picture.id %>" type="button"
                                       class="btn btn-sm btn-outline-info">Edit</a>
                                    <a href="/gallery?delete=<%= picture.id %>" type="button"
                                       class="btn btn-sm btn-outline-danger">Delete</a>
                                </div>
                                <small class="text-muted">
                                    <a href="/gallery/<%= picture.id %>" type="button"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</div>