<h1>Podgląd: <%= picture.title %></h1>

<img src="<%= picture.image %>" /> <br/>
<strong><%= picture.title %></strong><br/>
<a href="/gallery?delete=<%= picture.id %>">del</a>
<a href="/gallery/edit/<%= picture.id %>">update</a><br/><br/>


<% if(typeof errorMessage != 'undefined') { %>
    <%= errorMessage %>
<% } %>

<% if(typeof successMessage != 'undefined') { %>
    <%= successMessage %>
<% } %>
<br/><br/>

<form method="post" action="/gallery/<%=picture.id%>">
    <h4>Dodaj komentarz</h4>
    <input type="textarea" name="content" />
    <input type="submit" value="dodaj" />
</form>

<% if(typeof comments != 'undefined') { %>
    <div>
        <hr/>
        <% comments.forEach(comment => { %>
            <%=comment.user%><br/>
            <%=comment.content%><br/><br/>
        <% }); %>
    </div>
<% } %>